*{
    padding: 0;
    margin: 0;
}
body{
    background-color: black;
}
.plaatje >img{
    width: 700px;
}
nav{
    background-color: white;
}

.container{
    width: 75%;
    margin: auto;
}

.container > img{
    width: 50%;
}

h2{
    background-color: white;
}